<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>

<!-- Navigation -->
<nav class="nav-wrapper grey darken-2">
    <div class="container">
        <a class="brand-logo center">Create</a>
        <ul class="left">
            <li><a th:href="@{/home}">Homepage</a></li>
        </ul>
        <ul class="right">
            <li><a th:href="@{/logout}">Log out</a></li>
        </ul>
    </div>
</nav>

<div class="row section" style="padding-top: 35px;">
    <div class="col l6">

        <!-- Create through form -->
        <div class="container">
            <form th:action="@{/cards/create/form}" th:object="${cardForm}" method="POST">
                <div class="row">
                    <div class="col l6">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" autofocus="autofocus">
                    </div>

                    <div class="col l6">
                        <label for="set">Set</label>
                        <input type="text" id="set" name="set">
                    </div>
                </div>
                <div class="row">
                    <div class="col l6">
                        <label for="grade">Grade</label>
                        <input type="text" id="grade" name="grade">
                    </div>

                    <div class="col l6">
                        <label for="altered">Altered</label>
                        <input type="text" id="altered" name="altered">
                    </div>
                </div>

                <div class="row">
                    <div class="col l6">
                        <label for="manaCost">Mana cost</label>
                        <input type="text" id="manaCost" name="manaCost">
                    </div>

                    <div class="col l6">
                        <label for="type">Type</label>
                        <input type="text" id="type" name="type">
                    </div>
                </div>

                <div class="row">
                    <div class="col l6">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description">
                    </div>
                    <div class="col l6">
                        <label for=price>Price</label>
                        <input type="text" id="price" name="price">
                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <input class="btn" type="submit" value="Create">
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- Create through text -->
    <div class="col l6">
        <div class="container">
            <form th:action="@{/cards/create/string}" th:object="${cardStringForm}" method="post" id="cardStringForm">
                <label style="font-size: 16px;" for="cardString">Format: Quantity; Name; Set; Grade; Altered; Mana cost;
                    Type; Description; Price;</label>
                <textarea style="height: 330px;" id="cardString" form="cardStringForm" type="text" name="cardString"
                          class="materialize-textarea" th:text="${cardString}"></textarea>
                <div class="row">
                    <div class="center" style="padding-top: 15px;">
                        <input class="btn" type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>