<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>

<!-- Navigation -->
<nav class="nav-wrapper grey darken-2">
    <div class="container">
        <a class="brand-logo center">Edit</a>
        <ul class="left">
            <li><a th:href="@{/home}">Homepage</a></li>
        </ul>
        <ul class="right">
            <li><a th:href="@{/cards/create}">Create cards</a></li>
        </ul>
    </div>
</nav>

<!-- Edit form -->
<div class="container center" style="padding-top: 35px;">
    <form th:action="@{/cards/{cardId}/edit(cardId=${card.id})}" th:object="${card}" method="POST">
        <div class="hide">
            <label for="id">Card ID</label>
            <td id="id" th:utext="${card.id}">...</td>
        </div>

        <label for="name">Name</label>
        <input id="name" type="text" th:field="*{name}"/>

        <label for="set">Set</label>
        <input id="set" type="text" th:field="*{set}"/>

        <label for="grade">Grade</label>
        <input id="grade" type="text" th:field="*{grade}"/>

        <label for="altered">Altered</label>
        <input id="altered" type="text" th:field="*{altered}"/>

        <label for="manaCost">Mana Cost</label>
        <input id="manaCost" type="text" th:field="*{manaCost}"/>

        <label for="type">Type</label>
        <input id="type" type="text" th:field="*{type}"/>

        <label for="description">Description</label>
        <input id="description" type="text" th:field="*{description}"/>

        <label for="userId">User ID</label>
        <input id="userId" type="number" th:field="*{userId}"/>

        <label for="price">Price</label>
        <input id="price" type="text" th:field="*{price}"/>

        <input class="btn" type="submit" th:value="Update"/>
    </form>
</div>

</body>
</html>